<h1 style="text-align: center;">{{title}}</h1>

<form>

<input type="text" name="InName" [(ngModel)]="name"><br/>

<input type="text" name="InLastName" [(ngModel)]="lastName"><br/>

<input type="text" name="InPosition" [(ngModel)]="position"><br/>

<input type="submit" value="Register" (click)="registerUser()"><br/>


</form>

<br/>

<!-- <p *ngIf="registered; else noRegistered">{{message}} with name: {{name}} {{lastName}}
    and position: <span [ngStyle]="{color: position == 'Gerente' ? 'red' : 'black'}">  {{position}} </span></p> <!--DIRECTIVA NGSTYLE Operador ternario red cuando es gerente-->

<p *ngIf="registered; else noRegistered">{{message}} with name: {{name}} {{lastName}}
        and position: <span [ngClass]="{ForGerente: position == 'Gerente'}">  {{position}} </span></p> <!--DIRECTIVA NGCLASS Operador ternario red cuando es gerente-->    

<ng-template #noRegistered>

    <p>Nobody Registered</p>


</ng-template>

<br/><br/>

<ul>
<!--
    <li *ngFor="let entry of entries; let i = index; let odd=odd; trackBy: trackById"></li> 
-->

<li *ngFor="let entry of entries; let i=index"><span style="font-size: large; font-weight: bold;">{{entry.title}} </span>
-- entrada #{{i+1}}

</li>
     
     

</ul>